form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 62px;
}

.signup-page {
  background-color: rgb(246, 239, 144);
}

.signup-filler {
  display: fixed;
  padding-top: 12px;
  border-top: 3px black solid;
  bottom: 0px;
  width: 100%;
  height: 500px;
  background-color: greenyellow;
}